#main {
  background-color: #F0F0F0 !important;
}
.custom-product-page {
  margin-top: 20px;
}
.mils-tags {
  padding-bottom: 2em;
}
.mils-tags span.tagged_as {
  display: block;
  padding: 5px 15px;
  width: max-content;
  background-color: #ADADAD;
  border-radius: .4em;
}
.mils-tags span.tagged_as a {
  color: #fff;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 1.2px;
}
.mils-tags span.tagged_as a:hover {
  color: #fff;
}
.product-title-container h1.entry-title {
  font-weight: 400;
  color: #505050;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.product-title-container .is-divider {
  display: none !important;
}
span.woocommerce-Price-amount.amount {
  font-size: 2.5em;
  color: #505050;
}
.breadcrumbs a {
  font-weight: 500;
  font-size: 1.2em;
}
.product-short-description {
  display: none !important;
}
.cfvsw-product-page table.variations .label label {
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: 1.2px;
}
.cfvsw-swatches-option.cfvsw-label-option {
  padding: 10px 20px;
  border-radius: .6em !important;
}
table.variations {
  border-spacing: 0em 1em;
}
.ux-quantity {
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: .4em;
  overflow: hidden;
  padding: 5px 20px;
  background: #fff;
  margin: 0;
}
.ux-quantity input, .quantity .button.minus, .quantity .button.plus {
  border-style: none !important;
  background-color: #fff;
  box-shadow: none !important;
}
.current .breadcrumb-step, [data-icon-label]:after, .button#place_order, .button.checkout, .checkout-button, .single_add_to_cart_button.button, .sticky-add-to-cart-select-options-button {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: .4em;
  overflow: hidden;
}
*[display="false"] {
  display: none !important;
}
.woocommerce-variation-add-to-cart {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 1em;
}
.yith-wcwl-add-to-wishlist {
  margin: 0;
}
.yith-wcwl-add-to-wishlist span {
  display: none;
}
.single_add_to_cart_button {
  margin: 0 !important;
}
.yith-wcwl-add-button .add_to_wishlist svg.yith-wcwl-icon-svg, .yith-wcwl-add-button .add_to_wishlist img {
  margin: 0;
}
.yith-wcwl-add-to-wishlist add-to-wishlist-4098 {
  width: max-content;
  margin: 0;
  padding: 5px 15px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #D4D4D4;
  border-radius: .5em;
}
